* {
  zoom: initial !important;
  transform: none !important;
  overscroll-behavior: none;
  touch-action: none;
  overflow: hidden;
  user-select: none;
}

body {
  font-family: "SUIT Variable", sans-serif;
  text-align: center;
  padding: 0px 20px;
  background: #0d1117;
  color: #f0f6fc;
}

h1 {
  margin-bottom: 24px;
}

h3 {
  margin: 0;
}

button {
  padding: 12px 24px;
  background-color: #ff4040;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 24px;
  transition: background-color 0.3s;
  width: 100%;
}

#punch {
  height: calc(100vw - 48px);
  border-radius: 99999px;
  font-size: x-large;
  width: 100%;
}

.option {
  margin: 0px;
}

button:hover {
  background-color: #ff4040;
}

.data-block {
  background-color: #161b22;
  border-radius: 12px;
  padding: 16px;
  margin: 12px auto;
  max-width: 320px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
  text-align: left;
}

.data-block p {
  margin: 6px 0;
  font-family: monospace;
}
